<div class="text-center text-white">
  <h1> About the Developer </h1>
  <ul>
    <p>My name is Walter Hartwell White. I live at 308 Negra Aroya Lane, Albuquerque, New Mexico, 87104. To all law enforcement entities, this is not an admission of guilt. I am speaking to my family now. Skyler, you are the love of my life. I hope you know that. Walter Jr., you're my big man. There are going to be some things that you'll come to learn about me in the next few days. But just know that no matter how it may look, I only had you in my heart. Goodbye.</p>
    <p>JK My name is Jeremy Bernstein, I'm a sophomore at Brandeis studying CS and film, and I love Yoshi (and Breaking Bad)!</p>
    <p>(p.s. the use of this quote is protected under free use and can be found on quotes.net)</p>
  </ul>
</div>
