<form method="post" action="/yoshi/addYoshi">
    <div class="flex-wrap p-2 m-2 text-center text-white">
        <h1>Create a New Yoshi!</h1><br>
            Name: <input type="text" name="name" required><br><br>
            Age: <input type="number" name="age" min="0" max="470" required><br><br>
            Color: <input type="text" name="color" required><br><br>
            List your Yoshi's qualities (if beeg indicate here): <input type="text" name="description" required><br><br>
            <input type="submit" value="Submit"><br><br>
    </div>      
</form>