

    <div class="jumbotron text-white">
        <h1 class="text-center m-2">YOSHIIIIIIIIIIIII</h1>
        <p></p>
    </div>

    <p class="text-center text-white">
        See the video below (made by me) to learn more about who Yoshi is and how amazing he is.
    </p>
    <div class="text-center">
        <iframe width="890" height="500" src="https://www.youtube.com/embed/OIx-mEwHvWE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>